.vote {
  height: 3.75rem;
  padding: 5px 0;
  position: relative;
  display: flex;
  flex-direction: row;
}

.candidateColorWidth {
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
  background-color: var(--bg-color);
}

.candidateName {
  width: 12.5rem;
  height: 3.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
  background-color: #f2f2f2;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 0.5rem solid;
  border-color: var(--bg-color);
  text-align: center;
  margin-right: 1rem;
}

.yourVote {
  border: 3px solid #2f2f2f;
}

.isEliminated {
  border-image: repeating-linear-gradient(
    45deg,
    var(--bg-color),
    var(--bg-color) 10px,
    #666 10px,
    #666 20px
  ) 9;
}
